*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
/* HEADER */
#header{

}
#header .header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding: 20px 0;
    margin: auto;
}
#header .header .left{
    width: 50%;
}
#header .header .left a{

}
#header .header .left a img{
    width: 150px;
}
#header .header ul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    list-style: none;
}
#header .header ul li{
    margin: 0px 20px;
    letter-spacing: 1px;
    font-size: 17px;
    font-weight: 900;
    font-family: 'Nunito', sans-serif;
}
/* AMAZING */
#amazing{
    background-image: url(../image/amazing1.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: white;
    padding: 11rem 0;
    font-family: 'Nunito', sans-serif;
    position: relative;
    z-index: 5;
}
#amazing .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 1, 1, 0.5);
    z-index: -1;
}
#amazing h4{
    font-size: 20px;
    margin-bottom: 17px;
}
#amazing h1{ 
    font-size: 56px;
    margin-bottom: 55px;
}
#amazing a{
    background-color: #6168FF;
    border: 2px solid #6168FF;
    border-radius: 4px;
    color: #fff;
    font-size: 13px;
    padding: 13px 30px;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
/* ACTIVITIES */
#activities{
    padding: 2rem 0;
}
#activities .activities{
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
}
#activities .activities .cards{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}
#activities .activities .cards .card{
    width: 50%;
    padding: 20px;
}
#activities .activities .cards .card i{
    font-size: 50px;
    color: #6168FF;
}
#activities .activities .cards .card h4{
    font-size: 18px;
    margin: 12px 0;
    letter-spacing: 1px;
}
#activities .activities .cards .card p{
    font-size: 15px;
    color: #666;
    line-height: 1.8;
}
#activities .activities .image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    position: relative;
}
#activities .activities .image img{
    width: 100%;
}
#activities .activities .image i{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #6168FF;
    font-size: 50px;
    color: white;
    padding: 20px;
    border-radius: 50%;
    transform: translate(-50%,-50%);
}
/* DESTINATION */
#destination{
    font-family: 'Nunito', sans-serif;
}
#destination .destination{
    width: 70%;
    margin: auto;
}
#destination .destination .header{
    text-align: center;
    margin-bottom: 30px;
}
#destination .destination .header h5{
    color: #6168FF;
    font-size: 15px;
}
#destination .destination .header h5::after{
    content: "DESTINATIONS";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: grey;
    width: 50%;
    height: 20px;
}
#destination .destination .header h4{
    font-size: 27px;
    font-weight: 100;
}
#destination .destination .cards{
    display: flex;
    flex-wrap: wrap;
}
#destination .destination .cards .card{
    width: 30%;
    margin: 10px;
    position: relative;
    border: 1px solid #ebe6de;
    border-radius: 3px;
    color: #727272;
}
#destination .destination .cards .card .card-text{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 20px;
}
#destination .destination .cards .card .card-text .top{
    display: flex;
    justify-content: space-between;
}
#destination .destination .cards .card .card-text .top h4{
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 10px;
    color: black;
}
#destination .destination .cards .card .image{

}
#destination .destination .cards .card .image img{
    width: 100%;
}